<h1>Welcome to Nested Category Pages test application!</h1>

<h5>Category Pages (model Pages)</h5>

<ul>
  <li><%= link_to 'categories/index (just tree)',           categories_path %></li>
  <li><%= link_to 'categories/nested_options',              nested_options_categories_path %></li>
  <li><%= link_to 'categories/manage (sortable tree)',      manage_categories_path %></li>
  <li><%= link_to 'categories/node_manage (sortable tree)', node_manage_categories_path %></li>
  <li><%= link_to 'categories/expand (expandable tree)',    expand_categories_path %></li>
</ul>
